.header {
    background-color: white;
}

.menu-item-here .menu-link {
    background-color: #ed3a69 !important;
}

.menu-link {
    background-color: #ed3a6920;

    border: 2px solid #ed3a69;
}
.menu-item-here .menu-link .menu-text {
    color: white !important;
}
.menu-link .menu-text {
    color: #ed3a69 !important;
    font-weight: 600 !important;
}

/* Footer */
.footer {
    background-color: #ed3a69 !important;
}
.img-footer {
    width: 100%;
    object-fit: contain;
}

.ikuti-kami {
    background-color: #f7c7d4;
    color: black;
    padding: 10px 15px;
    text-align: center;
    border-radius: 8px;
}
.img-icon {
    width: 35px;
    height: 35px;
    object-fit: fill;
    margin: 0px 10px;
}
.footer .btn__white {
    background-color: white;

    border: 1px solid #ed3a69;
    color: #ed3a69;
    font-weight: bold;
    font-size: 15px;
}
.header-mobile {
    background-color: white !important;
}

.header-mobile .burger-icon span::after,
.header-mobile .burger-icon span::before,
.header-mobile .burger-icon span {
    background-color: #ed3a69;
}
@media screen and (max-width: 768px) {
    .menu-item-here .menu-link {
        background-color: white !important;
        border: none !important;
    }
    .menu-item-here .menu-link .menu-text {
        color: #ed3a69 !important;
    }
    .menu-link {
        background-color: white !important;
        border: none !important;
        color: #ed3a69 !important;
    }
}
@media screen and (max-width: 450px) {
    .reseller-footer {
        margin-top: 25px;
    }
    .reseller-footer h4 {
        text-align: center;
    }
    .reseller-footer .display-mobile {
        display: flex;
        justify-content: center;
    }
}

/* Homepage */

.banner-hero {
    background-color: #ed3a69;
}
.banner-hero .title {
    color: white;
    font-weight: 500;
    font-size: 32px;
}
.banner-hero .title span {
    font-weight: 700;
}
.banner-info {
    padding-top: 25px;
    padding-bottom: 25px;
}
.banner-hero .desc {
    color: white;
}

.background-desktop {
    width: 100%;
    display: flex;
    height: 100%;
}

.background-desktop .red{
    width: 80%;
    height: 100%;
    background-color: #ed3a69;
}
.background-desktop .white{
    width: 20%;
    height: 100%;
    background-color: white;
}
.btn__prim {
    background-color: #ed3a69;
    color: white;
    font-weight: 600;
}
.btn__bordered_prim {
    border: 1px solid white;
    background-color: #ed3a69;
    color: white;
    font-weight: 600;
}
.btn__white {
    background-color: white;

    border: 1px solid #ed3a69;
    color: #ed3a69;
    font-weight: bold;
}

.half-circle {
    min-height: 370px;

    padding: 10px;
    background-color: white;
    width: 100%;
    height: 100%;
    border-top-left-radius: 49%;
    border-bottom-left-radius: 49%;
}
.mySwiper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mySwiper .img-slide {
    height: 200px;
    width: 60%;
    object-fit: contain;
}
.swiper-button-next:after,
.swiper-button-prev:after {
    color: #ed3a69;
}
.content {
    background: #faefef;
}

.title-part {
    color: black;
    font-weight: 600;
}
.title-white {
    color: white;
    font-weight: 500;
}

.title-white span {
    font-weight: 700;
}
.title-part span {
    color: #ed3a69;
}
.detail-part {
    color: #00000080;
}
.divider {
    height: 60px;
}
.img-section-1 {
    width: 100%;
    margin-bottom: 35px;
    object-fit: contain;
}

.bergabung-div .card {
    height: 250px;
    padding: 10px;
    background: url("https://warisan.co.id/images/ornament/bg__content.png");
    border: none;
    -webkit-box-shadow: -1px 10px 10px 0px rgba(135, 135, 135, 0.5);
    -moz-box-shadow: -1px 10px 10px 0px rgba(135, 135, 135, 0.5);
    box-shadow: -1px 10px 10px 0px rgba(135, 135, 135, 0.5);
    margin: 20px 0px;
}
.bulet__content {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ed3a69;
    padding: 10px;
}
.bulet__content img {
    height: 30px;
    width: 30px;
    object-fit: fill;
}
.bergabung-div h6 {
    color: black;
    font-weight: 500;
    margin-bottom: 15px;
}
.bergabung-div p {
    color: #00000080;
}
.margin-bergabung {
    height: 70px;
}
.detail-box {
    width: 80%;
}
.section-2 {
    background: #ed3a69;
}
.hadiah-box {
    height: 100%;
}
.hadiah-box .card-body,
.hadiah-box .card {
    border-radius: 15px;
}

.hadiah-box .card {
    height: 100%;
    margin-left: 20px;
    position: relative;
    border: 1px solid black;
    margin-right: 25px;
}

.hadiah-box .circle-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: absolute;
    width: 120px;
    height: 120px;
    top: -15%;
    background: white;
    border-radius: 50%;
    right: -15%;
    border: 1px solid black;
}
.hadiah-box .circle-img img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}
.hadiah-box .title {
    color: black;
    font-weight: 600;
}
.hadiah-box .syarat {
    font-weight: 400;
}
.div-ornament {
    width: 60px;
    height: 60px;
}
.img-section-3 {
    width: 100%;
    max-height: 400px;
    object-fit: contain;
}
.nav-logo-form {
    max-height: 30px;
}

.button-google {
    background: #ffd9d2;
    color: #ed3a69;
    font-weight: 600;
}

.divider-reg {
    background-color: #00000030;
    height: 1px;
    width: 100%;
}

.text-atau {
    width: fit-content;
    background: white;
    color: #00000030;
    transform: translate(154px, -10px);
}

.register-form input {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05) !important;
    border-radius: 5px;
    border: transparent;
    height: 40px;
    margin-bottom: 15px;
}

.edit-referral {
    color: #ed3a69;
    top: 3px;
    right: 15px;
    transform: translateY(50%);
}
.movie-frame {
    position: absolute;
    border-radius: 15px;
    left: 22px;
    top: 27px;
    width: 90%;
    height: 53%;
}
.fc-danger {
    color: red;
}
.fonts-12 {
    font-size: 12px;
}
.fixed-whatsapp{
    position: fixed;
    bottom: 3%;
    right: 15px;
    z-index: 100;
}
.fixed-whatsapp i{
    
    font-size: 30px;
    color: white;
    
}
.box-whatsapp{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #25D366;
    border-radius: 8px;
    
    
}
.whatsapp-text{
    width: 160px;
    color: black;
    text-align: end;
    font-size: 11px;
}
@media screen and (max-width: 996px) {
    .banner-hero .title{
        font-size: 28px;
    }
    .hadiah-box .circle-img {
        width: 100px;
        height: 100px;
        right: -13%;
    }
    .hadiah-box .circle-img img {
        height: 70px;
        width: 70px;
    }
    .hadiah-box .card {
        margin-right: 30px;
    }
    .img-section-1 {
        height: 285px;
    }
    .movie-frame {
        left: 30%;
        top: 22px;
        width: 40%;
    }
}
@media screen and (max-width: 768px) {
    .detail-box {
        width: 90%;
    }
    .img-section-1 {
        max-height: 300px;
    }
    .bergabung-div .card {
        height: 220px;
    }
}
@media screen and (max-width: 576px) {
    .background-desktop{
        display: none;
    }
}
@media screen and (max-width: 450px) {
    .banner-hero .title{
        font-size: 24px;
    }
    
    .banner-info >.container{
        padding-left: 25px;
        padding-right: 25px;
    }
    .hadiah-box{
        margin-bottom: 20px;
    }
    .detail-box {
        width: 100%;
    }
    .margin-bergabung {
        height: 0px;
    }
    .bergabung-div .card {
        height: 210px;
    }
    .hadiah-box .card {
        margin-bottom: 25px;
    }
    .banner-hero> .container{
        padding: 0px;
    }
    .hadiah-box .circle-img {
        width: 100px;
        height: 100px;
        top: -10%;

        right: -8%;
    }
    .hadiah-box .circle-img img {
        width: 60px;
        height: 60px;
    }
    .movie-frame {
        left: 37px;
        top: 22px;
        width: 81%;
    }
    .half-circle{
        min-width: 335px
    }
}
